<%- include ../base/head %>
<main role="main">
    <section class="jumbotron">
        <div class="container text-center">
            <h1 class="jumbotron-heading">Animando una letra</h1>
            <iframe src="https://scratch.mit.edu/projects/314621605/embed" allowtransparency="true" width="40%"
                height="205" frameborder="0" scrolling="no" allowfullscreen></iframe>
        </div>
    </section>
    <section class="container">
        <div class="media">
            <img src="../Imagenes_web_programa\scratch\1/letter1.png" class="align-self-start mr-3" alt="letra">
            <div class="media-body">
                <h5 class="mt-0">Selección de letra</h5>
                <p> Primero se selecciona una letra, la cual será la que se animara. </p>
            </div>
        </div>
        <p>
            <h5>Código</h5>
        </p>

        <div class="media">
            <img src="../Imagenes_web_programa\scratch\1/start.png" class="align-self-start mr-3" alt="letra">
            <div class="media-body">
                <h5 class="mt-0">Bloque inicio</h5>
                <p> Este bloque sirve para que al precionar inicio se ejecute el prgrama. </p>
            </div>
        </div>

        <div class="media">
            <img src="../Imagenes_web_programa\scratch\1/size.png" class="align-self-start mr-3" alt="letra">
            <div class="media-body">
                <h5 class="mt-0">Bloque fijar tamaño</h5>
                <p> Este bloque sirve para cambiar de tamaño de cualquier objeto. </p>
            </div>
        </div>

        <div class="media">
            <img src="../Imagenes_web_programa\scratch\1/time.png" class="align-self-start mr-3" alt="letra">
            <div class="media-body">
                <h5 class="mt-0">Bloque tiempo</h5>
                <p> Este bloque sirve para fijar una espera de tiempo. </p>
            </div>
        </div>

        <h4> Código completo</h4>
       

        <div class="media">
                <img src="../Imagenes_web_programa\scratch\1/full_animate.png" class="align-self-start mr-3" alt="letra">
                <div class="media-body">
                   
                    <p> Este código anima la imagen haciendola crecer y disminuir gradualmente 
                    <br> el efecto se logra gracias a la espera de tiempo e ir agrandando y disminuyendo 
                    <br> la imagen de forma gradual. </p>
                </div>
            </div>
    </section>
</main>
<%- include ../base/foot %>
<%- include ../base/end %>